div.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 1;

  width: 100%;

  padding: 2rem;

  span {
    justify-content: center;
    margin-bottom: 4.5rem;
    margin-top: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 400;
    color: #E50914;
    background-color: transparent;

  }
}
